<div class="three-cta">
    <a href="{{page.first-cta-url}"><div class="cta">
        <img src="{{page.first-cta-img}}" alt=" " />
        <h2>{{page.first-cta}}</h2>
        <div class="cta-description">{{page.first-cta-desc}}</div>
    </div></a>
    <a href="{{page.second-cta-url}}"><div class="cta">
        <img src="{{page.second-cta-img}}" alt=" " />
        <h2>{{page.second-cta}}</h2>
        <div class="cta-description">{{page.second-cta-desc}}</div>
    </div></a>
    <a href="{{page.thrid-cta-url}}"><div class="cta">
        <img src="{{page.third-cta-img}}" alt=" " />
        <h2>{{page.third-cta}}</h2>
        <div class="cta-description">{{page.third-cta-desc}}</div>
    </div></a>
</div>