---
layout: page
---
<div class="wrap">
    <h1>{{ page.title }}</h1>
    {{ content }}
    <section class="events">
        {% for event in site.data.events %}
        <div class="event">
            <h2>{{ event.name }}</h2>
            <div class="two-column">
                <div class="column">
                    <div class="info">{{ event.date }}</div>
                </div>
                <div class="column">
                        <div class="info">{{ event.location }}</div>
                    </div>
            </div>
            {{ event.description | markdownify }}
            {% if event.url %}
            <a href="{{ event.url }}" class="button">Register online <i class="fas fa-chevron-right"></i></a>
            {% endif %}
        </div>
        {% endfor %}
    </section>
</div>