---
layout: default
---
<header style="background-color: #42592C;">
    {% include nav.html %}
    <section class="hero">
        <div class="hero-content">
            <h1>Saint Mary-of-the-Woods Historic District</h1>
        </div>
        <div class="hero-arrow"><a href="#content"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down" class="svg-inline--fa fa-chevron-down fa-w-14 bounce" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" preserveAspectRatio="xMinYMin" width="40px" height="40px"><path fill="currentColor" d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path></svg></a></div>
    </section>
</header>
<section class="content" id="content">
    <div class="wrap">
        {{content}}
    </div>
    <div class="three-cta">
        <a href="/about"><div class="cta">
            <img src="/assets/images/locations/The-Grotto-sm.jpg" alt=" " />
            <h2>About <i class="fas fa-chevron-right"></i></h2>
            <div class="cta-description">Explore the beauty of the architecture.</div>
        </div></a>
        <a href="/history"><div class="cta">
            <img src="/assets/images/locations/Le-Fer-Hall-exterior-sm.jpg" alt=" " />
            <h2>History <i class="fas fa-chevron-right"></i></h2>
            <div class="cta-description">Discover how it all began in 1840.</div>
        </div></a>
        <a href="/visit"><div class="cta">
            <img src="/assets/images/locations/Bridge-sm.jpg" alt=" " />
            <h2>Visit <i class="fas fa-chevron-right"></i></h2>
            <div class="cta-description">Explore the beauty of the architecture of the Historic District.</div>
        </div></a>
    </div>
</section>