---
layout: page
---
<section class="location">
    <div class="two-column">
        <div class="column padded">
            <div class="return">
                <a href="/about#locations"><i class="far fa-long-arrow-left"></i> Return to locations</a>
            </div>
            <h1>{{page.title}}</h1>
                {{content}}
            <div class="two-column quick-facts">
                <div class="column">
                    <div class="label">Year built</div>
                    <div class="info">{{page.year}}</div>
                </div>
                {% if page.style %}
                <div class="column">
                    <div class="label">Architecture style</div>
                    <div class="info">{{page.style}}</div>
                </div>
                {% endif %}
                {% if page.architect %}
                <div class="column" style="flex-grow: 1;">
                    <div class="label">Architect</div>
                    <div class="info">{{page.architect}}</div>
                </div>
                {% endif %}
                {% if page.sculptor %}
                <div class="column" style="flex-grow: 1;">
                    <div class="label">Sculptor</div>
                    <div class="info">{{page.sculptor}}</div>
                </div>
                {% endif %}
                {% if page.designer %}
                <div class="column" style="flex-grow: 1;">
                    <div class="label">Designer</div>
                    <div class="info">{{page.designer}}</div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="column padded">
            <div class="slick-slider">
                {% if page.photo-1 %}<div><img src="/assets/images/locations/{{page.photo-1}}" alt="{{page.alt-1}}" /></div>{% endif %}
                {% if page.photo-2 %}<div><img src="/assets/images/locations/{{page.photo-2}}" alt="{{page.alt-2}}" /></div>{% endif %}
                {% if page.photo-3 %}<div><img src="/assets/images/locations/{{page.photo-3}}" alt="{{page.alt-3}}" /></div>{% endif %}
                {% if page.photo-4 %}<div><img src="/assets/images/locations/{{page.photo-4}}" alt="{{page.alt-4}}" /></div>{% endif %}
                {% if page.photo-5 %}<div><img src="/assets/images/locations/{{page.photo-5}}" alt="{{page.alt-5}}" /></div>{% endif %}
            </div>
        </div>
    </div>
    {% if page.map %}
    <iframe src="{{page.map}}" width="100%" height="350" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    {% endif %}

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('.slick-slider').slick({
                arrows: true,
                dots: true,
                infinite: true,
                speed: 300,
                slidesToShow: 1,
                adaptiveHeight: true
            });
        });
      </script>
</section>