---
layout: page
---
<div class="wrap">
    <h1>{{ page.title }}</h1>
    {{ content }}
    <div class="two-column">
        <div class="column">
            <p>
                <strong>Saint Mary-of-the-Woods College</strong><br />
                1 St Mary of Wood Coll<br />
                Saint Mary-of-the-Woods, IN 47876<br />
                <a href="tel:8125355215">(812) 535-5212</a><br />
                <a href="mailto:smwc@smwc.edu">smwc@smwc.edu</a><br />
                <a href="https://www.smwc.edu">www.smwc.edu</a>
            </p>
        </div>
        <div class="column">
            <p>
                <strong>Sisters of Providence</strong><br />
                1 Sisters of Providence Road<br />
                Saint Mary-of-the-Woods, IN 47876<br />
                <a href="tel:8125353131">(812) 535-3131</a><br />
                <a href="https://www.spsmw.org">www.spsmw.org</a>
            </p>
        </div>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3755.7455433642217!2d-87.46454978463147!3d39.50991667948082!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMznCsDMwJzM1LjciTiA4N8KwMjcnNDQuNSJX!5e1!3m2!1sen!2sus!4v1567790725950!5m2!1sen!2sus" width="100%" height="500" frameborder="0" style="border:0;" allowfullscreen="" class="fullwidth"></iframe>
    <h2>Driving Directions</h2>
    <p>The Saint Mary-of-the-Woods Historic District is located five miles northwest of Terre Haute, Indiana. Several major metropolitan areas — Indianapolis, St. Louis, Chicago, Louisville — are just within a short drive of the District.</p>

    <div class="two-column">
        <div class="column">
            <h3>Interstate 70</h3>
            <ul>
                <li>Take Terre Haute exit (# 7).</li>
                <li>Turn north onto U.S. Highway 41 North.</li>
                <li>Then follow the directions below.</li>
            </ul>
            <h3>State Highway 41 North </h3>
            <ul>
                <li>After about 4 miles past the junction with I-70, take State Highway 63 North.</li>
                <li>After about 2 miles, turn left on Bolton Road.</li>
                <li>Follow the two-lane road through a residential area until you reach U.S. Highway 150.</li>
                <li>Turn left onto U.S. Highway 150.</li>
                <li>Drive past the Mari Hulman George School of Equine Studies.</li>
                <li>Turn right at the Saint Mary-of-the-Woods College and Sisters of Providence sign.</li>
                <li>The District will be located on your right (a short distance from the top of the hill).</li>
            </ul>	               
        </div>
        <div class="column">
            <h3>State Highway 63 South</h3>
            <ul>
                <li>Approximately 9 miles past the intersection of State Highway 63 and State Highway 163, turn right onto Bolton Road.</li>
                <li>Follow the two-lane road through a residential area until you reach U.S. Highway 150.</li>
                <li>Turn left onto U.S. Highway 150.</li>
                <li>Drive past the Mari Hulman George School of Equine Studies.</li>
                <li>Turn right at the Saint Mary-of-the-Woods College and Sisters of Providence sign.</li>
                <li>The District will be located on your right (a short distance from the top of the hill).</li>
            </ul>
        </div>
    </div>
</div>
<div class="three-cta fullwidth">
    <a href="https://spsmw.org/visit/group-tours/"><div class="cta">
        <img src="/assets/images/locations/White-Violet-Center-sm.jpg" alt=" " />
        <h2>Tours <i class="fas fa-chevron-right"></i></h2>
        <div class="cta-description">Schedule a tour for your group or organization.</div>
    </div></a>
    <a href="https://www.terrehaute.com/"><div class="cta">
        <img src="/assets/images/Vigo_County_Courthouse_Terre_Haute-md.jpg" alt=" " />
        <h2>Visit Terre Haute <i class="fas fa-chevron-right"></i></h2>
        <div class="cta-description">Spend time in Terre Haute and visit other exciting locations.</div>
    </div></a>
    <a href="/events"><div class="cta">
        <img src="/assets/images/locations/Guerin-Hall-Lion-Head-sm.jpg" alt=" " />
        <h2>Events <i class="fas fa-chevron-right"></i></h2>
        <div class="cta-description">Learn more about the incredible architectural details of the Historic District.</div>
    </div></a>
</div>